<!DOCTYPE 5>
<html>
	<head>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="stylesheets/style.css">	
	</head>
	<body>
		<div><a href="/logout">LOGOUT</a></div>
		<div id="messageContainer">	</div>
			<label>ENTER MESSAGE</label><input id="chatinp" onkeypress="sendMessage(event,this)">


			<script>
				var messageContainer = document.getElementById("messageContainer"); 
				var socket=io.connect("https://24.85.223.82:3000",{secure:true});
				function sendMessage(e,el) {
					if (e.keyCode == 13) {
						socket.emit("msgSend", {
							content: document.getElementById("chatinp").value,
							room: '<%=room%>'
						});
						el.value ="";
					}
				}
				socket.emit("join",{room:'<%=room%>'});
				socket.on('newmsg',function(data) {
					var newMsg = document.createElement("div");
					newMsg.setAttribute("class", "msg");
					newMsg.textContent = data.content;
					document.getElementById("messageContainer").appendChild(newMsg);
		
					messageContainer.scrollTop = messageContainer.scrollHeight;
				});
			</script>
	</body>
</html>
